<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>Seleziona modello computer </p>
<p style="color: green;">il tuo conto di soldi e 100 euro</p>
<select ng-model="modello" ng-options="x.modello1 for x in pc">
</select>

<h1>La tua scelta: {{modello.modello1}}</h1>
<p>Il suo prezzo è: {{modello.prezzo}}</p>
<button ng-click="acquista()">Acquista</button>
<p ng-show="mostraMessaggio">{{messaggio}}</p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.pc = [
        {modello1 : "Apple MacBook Pro", prezzo: 90},
        {modello1  : "HP Spectre x360", prezzo : 120},
        {modello1  : "Microsoft Surface Laptop 4", prezzo : 12}
    ];

    $scope.messaggio = "";
    $scope.mostraMessaggio = false;

    $scope.acquista = function() {
        if ($scope.modello.prezzo > 100) {
            $scope.messaggio = "non hai abbastanza soldi.";
            $scope.mostraMessaggio = true;
        } else {
            $scope.messaggio = "Grazie per l'acquisto!.";
            $scope.mostraMessaggio = true;
        }
    };
});
</script>
</body>
</html>
